#grobal_header.navbar.navbar-fixed-top.navbar-inverse{role: 'navigation'}
  .container
    .navbar-header
      =link_to 'Chamomile', '/', class: 'navbar-brand'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        %li=link_to 'settings', '#'
