.row
  .pull-right
    .btn-group
      =button_link 'create wiki', url_for(controller: :wiki, action: :new), glyph: :plus

.row
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %td name
        %td description
    -@wiki.each do |wiki|
      %tr
        %td=link_to wiki.name, url_for(controller: :pages, action: :index, wiki_slug: wiki.slug)
        %td=wiki.description
