!!!
%html
  %head
    %title Chamomile
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.alert=@alert if @alert
    %p.notice=@notice if @notice

    = yield
